# Server Configuration
SERVER_PORT=8080

# Session Configuration
SESSION_TIMEOUT=10m

# SSO Configuration
SSO_ENDPOINT_URL=/login/saml2/sso/azure-ad
HAZCOM_WEBSITE_URL=http://localhost:3000

# Azure AD Configuration
AZURE_AD_ENTITY_ID=https://sts.windows.net/{tenant-id}/
AZURE_AD_SSO_URL=https://login.microsoftonline.com/{tenant-id}/saml2
SERVICE_PROVIDER_ENTITY_ID=https://app.maxcomsc.com/maxcomsc

# Note: Replace {tenant-id} with your Azure AD tenant ID
